header {
  border-radius: 1px solid;
  height: 80px;
}

.navbar {
  background-color: #00e676;
}

.logo {
  text-decoration: none;
}

.api-documentation {
  border-color: #00e676;
  color: #ba000d;
}
