<header>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="flex-grow-1">
            <a aria-label="Home" class="logo" routerLink="/">
                <span class="Country client for getting info about countries">
                    Country Information Retriever
                </span>
            </a>
        </div>
        <div class="flex-grow-1 float-right">
            <a href="http://localhost:8080/swagger-ui/index.html" class="float-right api-documentation mr-2" target="_blank">API documentation</a>
            <a href="http://localhost:8761" class="float-right service-registry mr-2" target="_blank">Eukera service registry</a>
        </div>
    </nav>
</header>